# Review Ratings Challenge

In [1]:
import pandas as pd
import string
import re

**Task:** Import review_ratings_with_headers.csv

In [2]:
review_headers = pd.read_csv("review_ratings_with_headers.csv", index_col = 0)

**Task:** Explore data types in the dataset

In [3]:
review_headers.dtypes

churches                 float64
resorts                  float64
beaches                  float64
parks                    float64
theatres                 float64
museums                  float64
malls                    float64
zoo                      float64
restaurants              float64
pubs_bars                float64
local_services            object
burger_pizza_shops       float64
hotels_other_lodgings    float64
juice_bars               float64
art_galleries            float64
dance_clubs              float64
swimming_pools           float64
gyms                     float64
bakeries                 float64
beauty_spas              float64
cafes                    float64
view_points              float64
monuments                float64
gardens                  float64
dtype: object

Question 4: What data type is **parks**?

In [4]:
review_headers.parks.dtypes

dtype('float64')

**Task:** Find special characters that are in one of the columns, replace with 0, and convert to continuous/float type

In [6]:
boundary = string.digits + '.'
for i, cha in enumerate (list(review_headers.local_services)):
    if cha.strip(boundary) != '':
        review_headers['local_services'][i]= '0'

In [7]:
review_headers['local_services'] = review_headers['local_services'].astype('float64')
review_headers['local_services'].dtypes

dtype('float64')

Question 5: What was the variable that contained special characters?

local_services

Question 6: What is the mean of the variable now that it has been converted to type continuous/float?

In [8]:
round(review_headers.local_services.mean(),2)

2.55

**Task:** Fill missing values with 0 and run summary statistics on the dataset

In [11]:
review_headers = review_headers.fillna(0)
review_headers.describe()

,churches,resorts,beaches,parks,theatres,museums,malls,zoo,restaurants,pubs_bars,...,art_galleries,dance_clubs,swimming_pools,gyms,bakeries,beauty_spas,cafes,view_points,monuments,gardens
count,4456.000000,4456.000000,4456.000000,4456.000000,4456.000000,4456.000000,4456.000000,4456.000000,4456.000000,4456.000000,...,4456.000000,4456.000000,4456.000000,4456.000000,4456.000000,4456.000000,4456.000000,4456.000000,4456.000000,4456.000000
mean,1.452987,2.304504,2.483409,2.790247,2.966690,2.908746,3.378438,2.542897,3.125222,2.832208,...,2.224661,1.189217,0.950121,0.828218,0.966405,0.994675,0.962089,1.734473,1.523761,1.549632
std,0.829420,1.418781,1.246003,1.304826,1.339469,1.288723,1.414961,1.116005,1.357130,1.306910,...,1.727771,1.109464,0.984810,0.963599,1.198750,1.183759,0.919017,1.585888,1.313043,1.165424
min,0.000000,0.000000,0.000000,0.830000,1.120000,1.110000,1.120000,0.860000,0.840000,0.810000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.920000,1.360000,1.530000,1.737500,1.780000,1.790000,1.940000,1.620000,1.800000,1.630000,...,0.860000,0.690000,0.580000,0.530000,0.520000,0.540000,0.570000,0.740000,0.790000,0.880000
50%,1.340000,1.880000,2.065000,2.450000,2.670000,2.700000,3.230000,2.170000,2.800000,2.680000,...,1.330000,0.800000,0.740000,0.690000,0.690000,0.690000,0.770000,1.020000,1.070000,1.290000
75%,1.810000,2.670000,2.740000,4.062500,4.330000,3.910000,5.000000,3.192500,5.000000,3.492500,...,4.900000,1.150000,0.910000,0.840000,0.860000,0.860000,1.000000,2.060000,1.540000,1.650000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

Question 7: What is the IQR of ratings for **hotels_other_lodgings**?

In [10]:
Q1 = review_headers.hotels_other_lodgings.quantile(0.25)
Q3 = review_headers.hotels_other_lodgings.quantile(0.75)
IQR = round((Q3 - Q1),2)
print (IQR)

1.18